.stat-today {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-pink);
}

.stat-today__wrapper {
  color: #fff;
}

.stat-today__text {
  max-width: 180px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fs-24);
}

.stat-today__value {
  font-size: var(--fs-48);
}