.weather {
  padding: 15px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--bg-blue);
  color: #fff;
}

.weather__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather__icon {
  width: 100px;
  height: 100px;
}

.weather__info-degree {
  margin: 0;
  font-size: var(--fs-64);
}

.weather__info-status {
  margin: 0;
  font-size: var(--fs-16);
}

.weather__location {
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: var(--fs-14);
  background: transparent;
  border: none;
  cursor: pointer;
}

.weather__location::before {
  content: '';
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  background: url(../../images/location.png) no-repeat center;
  background-size: 15px;
}