/* Global */

:root {
  /* bg colors */
  --bg-pink: #d45072;
  --bg-green: #3cac3a;
  --bg-blue: #5269af;
  --bg-grey: #f3f3f3;
  /* lines colors */
  --stat-line: #c03f61;
  --footer-line: #e3e3e3;
  /* font-size */
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-48: 48px;
  --fs-64: 64px;
  --fs-120: 120px;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: 'Inter', Arial, sans-serif;
}

.container {
  max-width: 1440px;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

/* Mix */

.hover-link {
  transition: all .2s ease-in-out;
}

.hover-link:hover {
  opacity: .7;
}

.regular {
  font-weight: 400;
  line-height: normal;
}

.medium {
  font-weight: 500;
  line-height: normal;
}

.semibold {
  font-weight: 600;
  line-height: normal;
}

.bold {
  font-weight: 700;
  line-height: normal;
}