.workout-check {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-green);
}

.workout-check__icon {
  width: 150px;
  height: 150px;
}

.workout-check__status {
  max-width: 188px;
  margin: 0;
  color: #fff;
  font-size: var(--fs-24);
}